<app-top></app-top>
<div *ngIf="InProgressGame; else EndGame">
  <app-painel (EndGame)="EndGame($event)"></app-painel>
</div>
<ng-template #EndGame>
  <div *ngIf="typeEnd === 'Derrota'; else EndGameVitoria" class="containter" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        <h3 style="color: red;"> Você Perdeu</h3>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #EndGameVitoria>
  <div class="containter" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        <h3 style="color:green"> Você Perdeu</h3>
      </div>
    </div>
  </div>
</ng-template>
